<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block title %} <title>Piastrix Payment API</title>{% endblock %}
</head>
{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" action="" class="form-register" style="color:white"> {{ form.hidden_tag() }}
            <h1 class="h1 mb-2 font-weight-normal">
                To make a payment please enter:
            </h1>
            <br>
            <h3>{{ form.amount.label() }}</h3>
            {{ form.amount(class="form-control") }}

            <h3>{{ form.currency.label() }}</h3>
            {{ form.currency(class="form-control") }}

            <h3>{{ form.description.label() }}</h3>
            {{ form.description(class="form-control") }}

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            <br>
        </form>
    </div>
</body>
{% endblock %}
</html>
